{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    input, select {
        /* display: inline-block; */
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        background-color: #22303c !important;
        border: 0px;
        color: #fff;
        width: 100%;
    }

    input:-internal-autofill-selected,
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    textarea:-webkit-autofill:active,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    select:-webkit-autofill:active {
        background: #22303c !important;
    }

    form {
        width: 100%;
    }
    .ctrlHolder {
        margin-top: 10px;
    }
    input[type="submit"] {
        background-color: #192734 !important;
        transition: all 0.5s ease;
    }

    input[type="submit"]:hover {
        background-color: #404040 !important;
    }
</style>
<h2 class="form-subheading">Sign in</h2>
<div class="form-card">
    <form action="/login/" method="post">
        {% csrf_token %}
        <label class="label" for="username"
        ><span class="content">Username (case-sensitive)</span></label
      >
        <input
        type="text"
        name="username"
        maxlength="150"
        autocomplete="off"
        required
        placeholder="Username"
        style="margin-bottom: 20px !important;"
      />

      <label class="label" for="password" 
      ><span class="content">Password</span></label
    >
    <input
      type="password"
      name="password"
      maxlength="100"
      autocomplete="off"
      required
      placeholder="Password"
      style="margin-bottom: 20px !important;"
    />

    
        <input type="submit" value="Sign in">
    </form>
</div>
<script>
    var navSignIn = document.getElementById("navSignIn");
    navSignIn.className = "active"
</script>
{% endblock content %}